#result {
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
}

.btn-animation {
  background-color: #007bff;
  border: #3498db;
  color: #fff;
}

.btn[disabled] {
  pointer-events: none;
}

.btn-animation:hover {
  background-color: #495057;
  color: #fff;
  box-shadow: 0 0 0 2px #cce5ff;
  z-index: 2;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 1px #007bff;
  z-index: 1;
}