doctype html
html(lang='en')
  head
    title Url Shortener
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Just a small shortener for a long url')
    meta(name='author', content='OriG')
    // Loads CSS files
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/index.css')
    // Loads JS files
    script(src='/js/index.js')
  body
    .container
      .upper-body
        h1.p-3.font-weight-bold.upper-body-txt URL Shortener
        #toggle(onclick='toggleMode()')
          i.indicator
      .alert.alert-primary(role='alert')
        | Add your very long 
        b URL
        |  in the input bellow and click on the button to make it shorter
      .input-group.mb-3
        input#urlInput.border-primary.form-control(type='text', placeholder='Very long url..', aria-label='url', aria-describedby='shortenerBtn')
        .input-group-append
          button#shortenerBtn.btn.btn-primary(type='button', onclick='handleShortenerClick()') Shorten URL
      #result.text-light(onclick='copyUrl(this)')
      #urlAlert.alert.alert-success.collapse(role='alert') Link has been copied to the clipboard
    script(src='/js/toggle.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')