doctype html
html(lang="en")
    head
        title Url Shortener
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Just a small shortener for a long url')
        meta(name='author' content='OriG')

        // Bootstrap Icons
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        
        // Loads CSS files
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='/css/index.css')
        link(rel='stylesheet' href='/css/darktheme.css')

        // Favicon
        link(type='image/png', sizes='16x16', rel='icon', href='/assets/favicon.png')
        
        // Loads JS files
        script(src='/js/index.js')
    body
        .container.d-flex.justify-content-end.align-items-center.py-2
            a.github-link(href='https://github.com/origranot/url-shortener')
                | View project on Github 
                i.fa-brands.fa-github
            button#toggle-theme.ml-3.btn.btn-outline-primary(type='button' onclick='toggleTheme()') 
        .container
            h1.p-3.font-weight-bold URL Shortener
            .alert.alert-primary(role='alert').
                Add your very long <b>URL</b> in the input below and click on the button to make it shorter
            .input-group.mb-3
                input#urlInput.border-primary.form-control(type='text' onkeypress='handleShortenerKeypress(event)' placeholder="Very long url.." aria-label="url" aria-describedby='shortenerBtn')
                .input-group-append
                    button#shortenerBtn.btn.btn-animation(type='button' onclick='handleShortenerClick()') Shorten URL
            #loading.fade-in
                .lds-dual-ring
            #result.text-light
                p#error.fade-in
                p#text.fade-in(onclick='copyUrl()')
                #action.d-none.flex
                    button.btn.btn-dark.mr-1(type='button' onclick='copyUrl()')
                        i.bi.bi-clipboard
                    button.btn.btn-dark(type='button' onclick='openLink()')
                        i.bi.bi-box-arrow-up-right
            #urlAlert.alert.alert-success.collapse(role='alert').
                Link has been copied to the clipboard
        #wave-container.waves-div

