doctype html
html(lang="en")
    head
        title Url Shortener
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Just a small description')
        meta(name='author' content='OriG')

        // Loads CSS files
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/index.css')

        // Loads JS files
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='/js/index.js')

    body
        .container.p-3
            h1.p-3 Url Shortner
            .alert.alert-primary(role='alert').
                A simple primary alert check it out!
            .parentDiv
                .input-group.mb-3
                    input#urlInput.form-control(type='text' placeholder="Very long url.." aria-label="url" aria-describedby='shortnerBtn')
                    .input-group-append
                        button#shortnerBtn.btn.btn-outline-secondary(type='button' onclick='handleShortnerClick()') Go!
            #result(onclick='copyUrl(this)')
            #urlAlert.alert.alert-success.collapse(role='alert').
                Link has been copied to the clipboard
