doctype html
html(lang="en")
    head
        title Url Shortener
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Just a small description')
        meta(name='author' content='OriG')

        // Loads CSS files
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/index.css')

        // Loads JS files
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='/js/index.js')

    body
        .wrapper.mt-5
            div
                img(src='https://images.unsplash.com/photo-1617854818583-09e7f077a156?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', width="600").img-cover
            h1.p-3.text-white.font-weight-bold.mt-2 Witty URL Shortner
            .alert.alert-primary(role='alert').
                This is a simple UI shortner.
            .input-group.mb-3
                input#urlInput.form-control(type='text' placeholder="Enter a long URL to shorten.." aria-label="url" aria-describedby='shortnerBtn')
                .input-group-append
                    button#shortnerBtn.btn.btn-warning(type='button' onclick='handleShortnerClick()') Go!
            h4#result.text-success.font-weight-bold 
