body {
    text-align      : center;
    background-color: #4e4e4e;
    font-family     : "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size       : 14px;
    height          : 100vh;
    width           : 100vw;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
}

.wrapper {
    margin: auto;
    height: 100%;
    width : 50%;
}

.img-cover {
    border-radius: 20px;
}