@import url("./animations.css");
@import url("./loader.css");

body {
  text-align: center;
  background-color: #f8f8f8;

}
#result {
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
}

