li {
  --slide-from: 100%;
  display: block;
  animation: stayhidden 0.05s, slideup 0.5s 0.05s var(--ease-out); /* Adjusted animation */
  &.leave {
    opacity: 0;
    animation: fadeout 0.5s var(--ease-in), scaledown 0.5s var(--ease-in); /* Adjusted animation */
  }
}

@keyframes stayhidden {
  from,
  to {
    opacity: 0;
  }
}

@keyframes slideup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes scaledown {
  to {
    transform: scale(0.9);
  }
}
