/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  overflow: hidden;
}

/* Custom variables for themes */
[data-theme='dracula'] {
  --w-bg: 0 0% 100%; /* Wave background */
}

[data-theme='winter'] {
  --w-bg: 212 100% 51%; /* Wave background */
}
