.lds-dual-ring {
  width: 80px;
  height: 80px;
}

#loading {
  display: none;
  width: 0;
  margin: 0 auto;
  justify-content: center;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0069d9;
  border-color: #0069d9 transparent #0069d9 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}